<div class="row mx-auto mt-5" [ngSwitch]="filter$ | async">
  <div *ngSwitchCase="'All'">
    <div *ngIf="todos$ | async as todos">
      <div *ngIf="todos.length < 1">
        <div class="card flex item-center justify-between rounded">
          <p>You have no active or completed tasks.</p>
        </div>
        <hr />
      </div>
      <app-todo *ngFor="let todo of todos" [todo]="todo"></app-todo>
    </div>
  </div>
  <div *ngSwitchCase="'COMPLETED'">
    <div *ngIf="completed$ | async as todos">
      <div *ngIf="todos.length < 1">
        <div class="card flex item-center justify-between rounded">
          <p>You have 0 completed tasks.</p>
        </div>
        <hr />
      </div>
      <app-todo *ngFor="let todo of todos" [todo]="todo"></app-todo>
    </div>
  </div>
  <div *ngSwitchCase="'ACTIVE'">
    <div *ngIf="activeTodo$ | async as todos">
      <div *ngIf="todos.length < 1">
        <div class="card flex item-center justify-between rounded">
          <p>You have 0 active tasks.</p>
        </div>
        <hr />
      </div>
      <app-todo *ngFor="let todo of todos" [todo]="todo"></app-todo>
    </div>
  </div>
</div>
