.mat-expansion-panel-header-description {
    color: #9b9fc7 !important;
}

mat-expansion-panel {
    background-color: rgba(36, 39, 61, 255);
    color: #9b9fc7;
}

.mat-checkbox {
    ::ng-deep {

        .mdc-checkbox__background {
            background-color: #9b9fc7 !important;
            border-color: #9b9fc7 !important;
        }
    }
}