<div class="row w-1/4 mx-auto mt-5" *ngIf="todos$ | async as todos">
    <app-todo *ngFor="let todo of todos"></app-todo>
</div>

<mat-accordion class="example-headers-align" *ngIf="todos$ | async as todos">
    <mat-expansion-panel *ngFor="let todo of todos">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox class="my-checkbox" (change)="onCheck(todo.id);"
                    (click)="$event.stopImmediatePropagation()"></mat-checkbox>

            </mat-panel-title>
            <mat-panel-description>
                {{todo.content | titlecase}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p> {{todo.description}}</p>
    </mat-expansion-panel>
</mat-accordion>