/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: var(--bg-primary);
}

:root {
    --color-primary: #e411e8;
    --color-primary: #11dae8;
    --color-secondary: #24273D;
    --bg-primary: #171722;
    --txt-primary: #9b9fc7;
}

[data-theme="blue"] {
    --color-primary: #11dae8;
}

[data-theme="green"] {
    --color-primary: #11e88e;
}

[data-theme="pink"] {
    --color-primary: #e411e8;
}

[data-theme="purple"] {
    --color-primary: #a011e8;
}


// [data-theme="red"] {
//   --color-primary: #e83111;
// }
