<div class="card bg-white flex gap-x-4 item-center" *ngIf="todo">
    <div class="checkbox">
        <div class="checkbox-wrapper-15">
            <input class="inp-cbx" id="cbx-15" type="checkbox" style="display: none;" />
            <label class="cbx" for="cbx-15">
                <span>
                    <svg width="12px" height="9px" viewbox="0 0 12 9">
                        <polyline points="1 5 4 8 11 1"></polyline>
                    </svg>
                </span>
                <span>To-do</span>
            </label>
        </div>
    </div>
    <div class="card-content">
        {{todo.content}}
    </div>
</div>